<launch>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
      name="footprint_filter">
    <rosparam command="load" file="$(find cosys_bringup)/param/defaults/cosys_laser_config.yaml" />
    <remap from="kinect_laserscan" to="laserscan" />
    <remap from="scan_filtered" to="kinect_laserscan_filtered" />
  </node>
</launch>
